
/* organized */
/* .cardsHolder{
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  height: 80vh;
  overflow-y: auto; 
  width: 95%;
  overflow-x: auto; 
} */

/* Binary Tree */
.cardsHolder{
  border: 1px solid #ccc;
  height: 80vh;
  overflow-y: auto; 
  width: 95%;
  overflow-x: auto; 
}

.card{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  height: 100px;
  margin: 10px;
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
  justify-content: center;
}

.cardTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftAddBtn{
  border: 1px solid #ccc;
  color: red;
  font-size: medium;

}

.rightAddBtn{
  border: 1px solid #ccc;
  font-size: medium;

}

.bottomAddBtn{
  border: 1px solid #ccc;
  font-size: medium;

}